@use "../../foundation/global" as g;

.p-article-media {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: g.vw(30) g.vw(20);
    &__img-wrapper {
      width: g.vw(144);  
    }
    &__img {
        max-width: 100%;
    }
    &__body {
        width: g.vw(183);
        text-align: left;
    }
    &.--rev {
        flex-direction: row-reverse;
    }
}