@use "../../foundation/global" as g;

.p-button {
    &.--single {
        display:block;
        margin: g.vw(30) auto;
        width: g.vw(335);
        height: g.vw(81);
        padding: g.vw(30);
        font-weight: 700;
    }
}