@use "../../foundation/global" as g;

.p-imgList {
    display: flex;
    flex-direction: column;
    margin: g.vw(30) g.vw(20);
    gap: g.vw(20);
    &__item {
        width: g.vw(335);
        height: g.vw(205);
        > img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}